html{
    height: 100%;
}

body{
    background-color: white;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-color: rgb(10, 10, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

#boton{
    display: none;
}

#box{
    display: block;
}

a{
    text-decoration: none;
}

#imagen{
    max-width: 70%;
    min-width: 80px;
    margin-top: 5px;
    height: auto;
}

#ListaNav{
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.enlaces{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    display: inline-block;
    padding: 10px;
    margin: 25px;
}

.anclajes{
    color: rgba(252, 252, 252, 0.884);
}

.anclajes:hover{
    color: white;
    cursor: pointer;
}

#Cuerpo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

#contenedorMainIndex{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

#ubicacion{
    display: flex;
}

#direccionSAPA{
   text-align: left;
   margin-left: 15px;
}


#Pie{
    background-color: rgb(10, 10, 143);
    margin-top: 47px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pie p{
    color: white;
}

#Pie ul{
    display: flex;
    margin-left: 20px;
}

#Pie ul li{
    margin: 10px;
}

@media (max-width: 1201px){

    header{
        flex-direction: column;
        align-items: center;
    }

    nav{
        width: 100%;
    }

    #box{
        background-color: white;
        width: 100%;
    }

    #boton{
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        margin: 10px 0;
    }

    #ListaNav{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #ListaNav.activo{
        display: flex;
    }

    .enlaces{
        width: 100%;
        margin: 1px 0;
    }

    .enlaces:hover{
        background-color: white;
        border-radius: 20px;
    }

    .anclajes:hover{
        color:  blue;
        cursor: pointer;
    }
    
}

#CuerpoNoticia{
    align-items: center;
    flex: 1;
}

#contenedorMainNosotros{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
}

#contenedorMainNosotros h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    margin-bottom: 30px;
    text-align: left;
}

#contenedorMainNosotros img{
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

#contenedorMainNosotros p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 5px;
}

#contenedorContacto{
    width: 40%;
}

#formulario{
    border: 2px solid black;
    border-radius: 10px;
}
